@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zilla+Slab+Highlight:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');



body{
  padding: 0;
  margin: 0;
  text-align: center;
}

.dFlex{
  display: flex;
}

.spaceBetween{
  justify-content: space-between;
}



.frame{
  background-color: black;
  height: 450px;
  width: 450px;
  border: 5px solid;
  margin: 30px auto;
  flex-direction: column;
}

.top{
  height: 70%;
  width: 100%;
}

.bottom{
  height: 23%;
  width: 100%;
}

.topL{
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.topR{
  height: 100%;
  width: 77%;
  background-color: red;
}

.topTwins{
  height: 45%;
  width: 100%;
  background-color: white;
}

.bottomL{
  height: 100%;
  width: 20%;
  background-color: #125d9d;
}

.bottomR{
  height: 100%;
  width: 77%;
}


.longBottom{
  width: 80%;
  height: 100%;
  background-color: aliceblue;
}

.bottomTiwns{
  height: 45%;
  width: 90%;
  background-color: yellow;
}

.twinContainer{
  height: 100%;
  width: 15%;
  flex-direction: column;
}

.white{
  background-color: white;
}

.cardFrame{
  height: 650px;
  width: 500px;
  border: 4px solid;
  margin: 30px auto;
}

.cardFrame > img{
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.cardFrame > h1{
  font-family: cinzel;
}